#p1text{
    width: 80%;
    
    color: #fff;
    margin:0 auto ;
    position: relative;
    z-index: 5;
    margin-top: -50%;
}


#contaner{
   overflow: auto;
    width: 100vw;
    
}
#img{
    display: flex;
    
    width: 400vw;

}
#img1{
    width: 100vw;
}
#img2{
    width: 100vw;
}
#img3{
    width: 100vw;
}
#img4{
    width: 100vw;
}
#WhoAmI{

}
#learn{

}
#now{

}
#Myporpose{

}

#headertitle{
    font-size: 50px;
    
}
#button{
    margin-left: 50%;
    margin-top: -50%;
}
#button1{
    
}
#button2{
    margin-left: 3%;
    margin-right: 3%;
}
#button3{
    
}









#p2{
    width: 80%;
    
    margin: 0 auto;
    margin-top: 70%;
}
#title1{
    font-size: 60px;
   
    
}
#text1{
   
   
}
#module{
    display: flex;
    font-size: 40px;
    text-align: center;
    margin-left: 20%;
    
}
#modulesm{
    margin-top:-10% ;
    font-size: 8px;
    background-color: rgb(236, 236, 236);
    float: right;
    padding: 2%;
}
#module1{
    
    color: gray;

}
#module2{
    margin-left: 10%;
    color: gray;
}
#module3{
    margin-left: 10%;
    color: gray;
}
#module4{
    margin-left: 10%;
    color: gray;
} 

#atext{
    
   
}
#aimg{
    
    
}
#btext{
   
  
    
    
}
#bimg{
    
    
}
#ctext{
   
   
}
#cimg{
    
}
#dtext{
    
   
}
#dimg{
    
    
} 
#a{
    display: flex;
    margin-top: -15%;
    display: none;
}
#b{
    display: flex;
    margin-top: -15%;
    display: none;
}
#c{
    display: flex;
    margin-top: -15%;
   
}
#d{
    display: flex;
    margin-top: -15%;
    display: none;
}
.moduletitle1{
    
    transform:rotate(90deg);
    font-size: 150px;
    margin-right: 70%;
    
    
    color: rgb(207, 205, 205);
    
}
#moduletitle1{
    font-size: 300px;
    margin-right: 20%;
    margin-top: 10%;
    
}
#moduletitle2{
    font-size: 300px;
    margin-right: 20%;
    margin-top: 10%;
    
    
}
#moduletitle3{
    font-size: 300px;
    margin-right: 20%;
    margin-top: 10%;
    
    
}
#moduletitle4{
    font-size: 300px;
    margin-right: 20%;
    margin-top: 10%;
    
}









#p3{
    width: 80%;
    margin: 0 auto;
    margin-top: 20%;
    
}
#ipt{
    font-size: 60px;
    border-bottom:1px solid black ;
    width: 30%;
    line-height: 90%;
    padding-bottom: 3%;
    
}
#ipte{
    float: right;
    margin-top: -10%;
    
}
#container1{
    overflow: auto;
    width: 600px;
    margin-left: 10%;
    margin-top: 10%;
    

}
#iptimg{
    display: flex;
    width: 8200px;
}
#text3{
    
    
}
#text2{
    
    color: white;
}
#date1{
    font-size: 80px;
    transform:rotate(90deg);
    margin-left: 100%;
    margin-top: -40%;
    color: rgb(164, 164, 164);
}
#butbox{
    
   
}
#but1{
    float: right;
    margin-right: 28%;
    margin-top: 20%;
    
}
#but2{
    float: left;
    margin-top: 20%;
   
}